*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 400;
    background: transparent;
    &:focus{
        outline: none;
        border: none;
    }
}
body{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background: black;
}
.container{
    max-width: 1128px;
    width: 100%;
    margin: 0 auto;
}
img{
    display: block;
}
.header-nav{
    background:grey;
    padding: 5px 0;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-list{
        display: flex;
        gap: 30px;
        a{
            color: black;
            text-transform: capitalize;
            font-size: 19px;
        }
    }
    .logo{
        font-size: 30px;
        color: black;
    }
}
h1{
    color: white;
    font-size: 40px;
    margin: 30px 0;
}
.main-cars{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    &-item{
        padding: 20px;
        box-shadow: 0 0 10px 0 grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;
            height: 30vh;
        }
        h2, p{
            color: white;
        }
    }
}

.main-item{
    display: flex;
    color: white;
    flex-direction: column;
    font-size: 30px;
}